/wandb
.ipynb_checkpoints/
contrastive/.ipynb_checkpoints/
__pycache__/
contrastive/__pycache__/
*.pyc
*.out
tensorboard/
joblog/
archived/
*.png/
logs
**/**/*.png
*.log

experiments/plots/
experiments/psi_data/
experiments/safety_region_visits/
runs_final/
*.pdf
*.pkl


